.webp .hero__image {
  background-image: url('../img/webp/main-hero.webp');

  @include breakpoint(small only) {
    background-image: url("../img/webp/main-hero-small.webp");
  }

  @include breakpoint(medium only) {
    background-image: url("../img/webp/main-hero-medium.webp");
  }
}

.no-webp .hero__image {
  background-image: url('../img/main-hero.jpg');

  @include breakpoint(small only) {
    background-image: url("../img/main-hero-small.jpg");
  }

  @include breakpoint(medium only) {
    background-image: url("../img/main-hero-medium.jpg");
  }
}

.l-hero__container {
  position: relative;
  height: 385px;
  margin: 0;
  padding: 0;

  .hero__image {
    background-size: cover;
    height: 100%;
  }

  .hero__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 65, 112, 0.5);
    z-index: 2;
  }

  .hero__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.8rem 1.5rem;
    z-index: 3;

    &:hover {
      border: 1px solid $white;
    }
    &:hover > .hero__anchor {
      color: $white
    }

    @include breakpoint(small only) {
      width: 70%;
    }

    .hero__anchor {
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.6;
    }
  }
}