.info__container {
  padding-top: 0;
}

.product__nav {
  color: $green;
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 600;

  .fas {
    padding: 0 15px;
  }
}

.product__about {
  width: 70%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;

  //@media screen and (max-width: 840px) {
  //  margin: 0 120px 0 auto;
  //}

  @include breakpoint(small only) {
    width: 100%;
    //margin: 0 80px 0 auto;
  }
}

.gallery__container {
  margin: 1.5rem 0;
  padding-bottom: 0.5rem;
}