.side-nav__container {
  position: absolute;
  top: 507px;
  right: 0;
  padding: 0;
  margin-left: 15px;
  background-color: $blue;
  //z-index: 100;
  text-align: left;

  @media screen and (max-width: 1150px) {
    visibility: hidden;
  }


  .side-nav__list {
    list-style-type: none;
    margin: 0;
  }

  .side-nav__item {
    padding: 11px 30px;

    &:hover {
      background-color: $green;
    }
  }
  .side-nav__link {
    color: $white;
    font-weight: 600;
  }
}