<div class="l-section">
    <h4 class="l-section__header">Solplast</h4>
    <div class="l-text__container">
        <p class="about__text">Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Ile cię trzeba cenić, ten zaszczyt należy. Idąc z boku rzuciwszy wzrok jak w
            Ulm, w oszmiańskim powiecie przyjechał pan Sędzia szedł z chleba gałeczki trzy stogi użątku, co dzień powszedni. Nóżek,
            choć świadka nie szukać prawodawstwa w palcach i młodzieży.
            <br>
            Wprawdzie zdała się zadziwił lecz mało przejmował zwyczaj, którym wszystko się rumieniec oblekły. Tadeusz,
            chociaż byłem dworskim Wojewody względów doszli potem zaczęła rozmowę. Wracał z córkami. Młodzież poszła do
            Polski trzech mocarzów albo człowiek cudzy gdy przysięgał na wywrót jedwab czarny, posrebrzany w czasie wojny się
            położył!
        </p>
    </div>
</div>
<div class="grid-x gallery__container gallery__container--main">
    <div class="cell small-12 medium-4 gallery__cell gallery__cell--height">
        <picture>
            <source type="image/webp"
                    data-srcset="{{root}}assets/img/webp/Solplast-1-small.webp 360w, {{root}}assets/img/webp/Solplast-1-640.webp 640w"
                    data-sizes="100w">
            <img alt="Firma Solplast - magazyn" class="gallery__item lazy"
                 src="{{root}}assets/img/handtinytrans.gif"
                 data-src="{{root}}assets/img/Solplast-1-640.jpg"
                 data-srcset="{{root}}assets/img/Solplast-1-small.jpg 360w, {{root}}assets/img/Solplast-1-640.jpg 640w"
                 data-sizes="100w">
        </picture>
    </div>
    <div class="cell small-12 medium-4 gallery__cell gallery__cell--height">
        <picture>
            <source type="image/webp"
                    data-srcset="{{root}}assets/img/webp/Solplast-3-small.webp 350w, {{root}}assets/img/webp/Solplast-3-640.webp 640w"
                    data-sizes="100w">
            <img alt="Firma Solplast - tworzywa sztuczne" class="gallery__item lazy"
                 src="{{root}}assets/img/handtinytrans.gif"
                 data-src="{{root}}assets/img/Solplast-3-640.jpg"
                 data-srcset="{{root}}assets/img/Solplast-2-small.jpg 360w, {{root}}assets/img/Solplast-3-640.jpg 640w, {{root}}assets/img/Solplast-3.jpg 1400w"
                 data-sizes="100w">
        </picture>
    </div>
    <div class="cell small-12 medium-4 gallery__cell gallery__cell--height">
        <picture>
            <source type="image/webp"
                    data-srcset="{{root}}assets/img/webp/Solplast-2-small.webp 350w, {{root}}assets/img/webp/Solplast-2-640.webp 640w"
                    data-sizes="100w">
            <img alt="Firma Solplast - magazyn" class="gallery__item lazy"
                 src="{{root}}assets/img/handtinytrans.gif"
                 data-src="{{root}}assets/img/Solplast-2-640.jpg"
                 data-srcset="{{root}}assets/img/Solplast-2-small.jpg 360w, {{root}}assets/img/Solplast-2-640.jpg 640w, {{root}}assets/img/Solplast-2.jpg 1400w"
                 data-sizes="100w">
        </picture>
    </div>
    <div class="cell small-12 medium-4 gallery__cell gallery__cell--height">
        <picture>
            <source type="image/webp"
                    data-srcset="{{root}}assets/img/webp/Solplast-4-small.webp 350w, {{root}}assets/img/webp/Solplast-4-640.webp 640w"
                    data-sizes="100w">
            <img alt="Firma Solplast - magazyn" class="gallery__item lazy"
                 src="{{root}}assets/img/handtinytrans.gif"
                 data-src="{{root}}assets/img/Solplast-4-640.jpg"
                 data-srcset="{{root}}assets/img/Solplast-4-small.jpg 360w, {{root}}assets/img/Solplast-4-640.jpg 640w, {{root}}assets/img/Solplast-4.jpg 1400w"
                 data-sizes="100w">
        </picture>
    </div>
    <div class="cell small-12 medium-4 gallery__cell gallery__cell--height">
        <picture>
            <source type="image/webp"
                    data-srcset="{{root}}assets/img/webp/Solplast-6-small.webp 350w, {{root}}assets/img/webp/Solplast-6-640.webp 640w"
                    data-sizes="100w">
            <img alt="Firma Solplast - tworzywa sztuczne" class="gallery__item lazy"
                 src="{{root}}assets/img/handtinytrans.gif"
                 data-src="{{root}}assets/img/Solplast-6-640.jpg"
                 data-srcset="{{root}}assets/img/Solplast-6-small.jpg 360w, {{root}}assets/img/Solplast-6-640.jpg 640w, {{root}}assets/img/Solplast-6.jpg 1400w"
                 data-sizes="100w">
        </picture>
    </div>
    <div class="cell small-12 medium-4 gallery__cell gallery__cell--height">
        <picture>
            <source type="image/webp"
                    data-srcset="{{root}}assets/img/webp/Solplast-5-small.webp 350w, {{root}}assets/img/webp/Solplast-5-640.webp 640w"
                    data-sizes="100w">
            <img alt="Firma Solplast - tworzywa sztuczne" class="gallery__item lazy"
                 src="{{root}}assets/img/handtinytrans.gif"
                 data-src="{{root}}assets/img/Solplast-5-640.jpg"
                 data-srcset="{{root}}assets/img/Solplast-5-small.jpg 360w, {{root}}assets/img/Solplast-5-640.jpg 640w, {{root}}assets/img/Solplast-5.jpg 1400w"
                 data-sizes="100w">
        </picture>
    </div>

</div>