<div class="form__container l-section">
    <form>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell small-6">
                    <label>Imię<span class="form__star">*</span>
                        <input type="text" placeholder="Imię">
                    </label>
                </div>
                <div class="cell small-6">
                    <label>Nazwisko<span class="form__star">*</span>
                        <input type="text" placeholder="Nazwisko">
                    </label>
                </div>
                <div class="cell small-6">
                    <label>Numer telefonu<span class="form__star">*</span>
                        <input type="text" placeholder="Numer telefonu">
                    </label>
                </div>
                <div class="cell small-6">
                    <label>Adres e-mail<span class="form__star">*</span>
                        <input type="text" placeholder="Adres e-mail">
                    </label>
                </div>
                <div class="cell small-12 form__message">
                    <label>Wiadomość<span class="form__star">*</span>
                        <textarea class="form__message" placeholder="Wiadomość"></textarea>
                    </label>
                </div>
                <div class="cell small-12">
                    <button type="button" class="button form__button">Wyślij</button>
                </div>
            </div>
        </div>
    </form>
</div>
