<div class="l-hero__container">
    {{#ifpage 'POM'}}
    <div class="l-image pom__image"></div>
    <div class="l-image__header">
        <h3 class="l-image__title">POM</h3>
    </div>
    {{/ifpage}}

    {{#ifpage 'PA'}}
    <div class="l-image pa__image"></div>
    <div class="l-image__header">
        <h3 class="l-image__title"><i class="fas fa-chevron-right"></i>PA <br><span class="l-image__subtitle">poliamidy</span></h3>
    </div>
    {{/ifpage}}
    <!--<div class="l-image POM__image"></div>-->

    <div class="hero__overlay"></div>
</div>