<div class="l-hero__container">
    <div class="l-image subpage__image"></div>
    {{#ifpage 'POM'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>POM<br><span class="l-image__subtitle">poliacetal</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PA'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PA<br><span class="l-image__subtitle">poliamid</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PET'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PET<br><span class="l-image__subtitle">politereftalan etylenu</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PE'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PE<br><span class="l-image__subtitle">polietylen</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PP'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PP<br><span class="l-image__subtitle">polipropylen</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PVC'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PVC<br><span class="l-image__subtitle">polichlorek winylu</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PTFE'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PTFE<br><span class="l-image__subtitle">politetrafluoroetylen</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PVDF'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PVDF<br><span class="l-image__subtitle">polifluorek winylidenu</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PEEK'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PEEK<br><span class="l-image__subtitle">polieteroeteroketon</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PC'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PC<br><span class="l-image__subtitle">poliwęglan</span></h4>
    </div>
    {{/ifpage}}

    {{#ifpage 'PMMA'}}
    <div class="l-image__header">
        <h4 class="l-image__title"><i class="fas fa-chevron-right"></i>PMMA<br><span class="l-image__subtitle">plexi</span></h4>
    </div>
    {{/ifpage}}

    <div class="hero__overlay"></div>
</div>