<div data-sticky-container=""></div>
<nav id="top-nav" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%" class="top-bar topbar-responsive {{#ifpage 'contact'}} topbar-responsive--on-contact {{/ifpage}}">
    <div class="top-bar-title">
        <a class="title-bar topbar-responsive__logo" href="index.html"><img class="top-bar__logo" src="{{root}}assets/img/logo.jpg" alt="Logo firmy Solplast"></a>
        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
            <button class="menu__icon" type="button" data-toggle="main-menu">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right" id="main-menu" data-animate="hinge-in-from-top fade-out">
            <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                {{#unlesspage 'index'}}
                <li class="menu__item">
                    <a class="menu__link" href="index.html">Home</a>
                </li>
                {{/unlesspage}}
                <li class="menu__item">
                    <a class="menu__link menu__link--noborder" href="#">Tworzywa sztuczne</a>
                    <ul class="vertical menu menu__dropdown">
                        <li class="menu__dropdown-link"><a href="POM.html">POM (poliacetal)</a></li>
                        <li class="menu__dropdown-link"><a href="PA.html">PA (poliamid)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PET (politereftalan etylenu)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PE (polietylen)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PP (polipropylen)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PVC (polichlorek winylu)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PTFE (politetrafluoroetyleny)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PVDF (polifluorek winylidenu)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PEEK (polieteroeteroketon)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PC (poliwęglan)</a></li>
                        <li class="menu__dropdown-link"><a href="#">PMMA (plexi)</a></li>
                    </ul>
                </li>
                {{#unlesspage 'contact'}}
                <li class="menu__item menu__item--last">
                    <a class="menu__link" href="contact.html">Kontakt</a>
                </li>
                {{/unlesspage}}
            </ul>
        </div>
    </div>
</nav>

