<div class="l-section products__container">
    <h4 class="l-section__header">Produkty</h4>

    <ul class="tabs u--margin text-center grid-x grid-margin-x align-center" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="deeplinked-tabs">
        <li class="tabs-title is-active">
            <a class="products__square products__square--active" href="#tuleje" aria-selected="true">
                <span class="products__text">Tuleje</span>
            </a>
        </li>
        <li class="tabs-title">
            <a class="tabs__anchor products__square products__square--moved" href="#prety">
                <span class="products__text">Pręty</span>
            </a>
        </li>
        <li class="tabs-title">
            <a class="tabs__anchor products__square" href="#plyty">
                <span class="products__text">Płyty</span>
            </a>
        </li>
    </ul>


    <div class="tabs-content" data-tabs-content="deeplinked-tabs">
        <div class="tabs-panel is-active" id="tuleje">
            <div class="grid-x grid-padding-x align-center">
                <div class="tabs__item cell"><a class="tab__item" href="POM.html"><i class="fas fa-chevron-right"></i>POM</a></div>
                {{#each general.tuleje}}
                <div class="tabs__item cell "><a href="{{this}}.html"><i class="fas fa-chevron-right"></i>{{this}}</a></div>
                {{/each}}
                <div class="tabs__item cell tabs__item--last"><a href="PMMA.html"><i class="fas fa-chevron-right"></i>PMMA</a></div>
            </div>
        </div>
        <div class="tabs-panel" id="prety">
            <div class="grid-x grid-padding-x align-center">
                <div class="tabs__item cell"><a class="tab__item" href="POM.html"><i class="fas fa-chevron-right"></i>POM</a></div>
                {{#each general.prety}}
                <div class="tabs__item cell "><a href="{{this}}.html"><i class="fas fa-chevron-right"></i>{{this}}</a></div>
                {{/each}}
                <div class="tabs__item cell tabs__item--last"><a href="#"><i class="fas fa-chevron-right"></i>PMMA</a></div>
            </div>
        </div>
        <div class="tabs-panel" id="plyty">
            <div class="grid-x grid-padding-x align-center">
                <div class="tabs__item cell"><a class="tab__item" href="#"><i class="fas fa-chevron-right"></i>POM</a></div>
                {{#each general.plyty}}
                <div class="tabs__item cell "><a href="{{this}}.html"><i class="fas fa-chevron-right"></i>{{this}}</a></div>
                {{/each}}
                <div class="tabs__item cell tabs__item--last"><a href="#"><i class="fas fa-chevron-right"></i>PMMA</a></div>
            </div>
        </div>
    </div>
</div>