{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Solplast - sprzedaż tworzyw sztucznych">
    <meta name="theme-color" content="#fff">
    <title>Solplast</title>
    <link rel="shortcut icon" href="{{root}}assets/img/logo-favicon.png" type="image/x-icon">
    <link rel="icon" href="{{root}}assets/img/logo-favicon.png" type="image/x-icon">
    <!--<link rel="dns-prefetch" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" as="font" crossorigin="">-->
    <link rel="preload" href="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" as="font">
    <link rel="preconnect" href="http://fonts.googleapis.com" crossorigin>
    <style>
      .no-js .top-bar {
        display: none;
      }

      @media screen and (min-width: 40em) {
        .no-js .top-bar {
          display: block;
        }

        .no-js .title-bar {
          display: none;
        }
      }
    </style>
  </head>

<body>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<!--<script>-->
  <!--document.documentElement.classList.remove("no-js");-->
<!--</script>-->
<script defer async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@11.0.6/dist/lazyload.min.js"></script>


<script type="text/javascript">
  const cssFile = document.createElement('link');
  cssFile.rel = 'stylesheet';
  cssFile.href = '{{root}}assets/css/app.css';
  cssFile.type = 'text/css';
  const godefer = document.getElementsByTagName('link')[0];
  godefer.parentNode.insertBefore(cssFile, godefer);
</script>


<script type="text/javascript">
  function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "{{root}}assets/js/app.js";
    document.body.appendChild(element);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:400,600,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>


<!--<script>-->
    <!--if ('serviceWorker' in navigator) {-->
        <!--navigator.serviceWorker.register('/service-worker.js')-->
            <!--.then(registration =>-->
                <!--console.log(`Registration succeeded with ${registration.scope}`)-->
            <!--).catch(error =>-->
            <!--console.log(`Registration failed with + ${error}`)-->
        <!--)-->
    <!--};-->
<!--</script>-->
</body>
</html>
